/* General */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
.container {
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* Header */
.header {
    grid-column: 2 / 15;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: space-between;  
    padding: 10px 20px;
    background-color: white;
}

.name {
    flex: 1; /* Hace que el nombre ocupe el espacio disponible */
}

.searchBar {
    display: flex;
    align-items: center;
    flex: 2; /* Ocupa el doble del espacio que el nombre */
    justify-content: center; /* Centra el contenido */
}

.searchBar img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.searchBar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(241, 242, 243);
    color: black;
    width: 100%; /* Hace que el input tome todo el espacio disponible en el contenedor */
}

.pages {
    display: flex; /* Flex para alinear horizontalmente */
    align-items: center; /* Centra verticalmente los botones */
    gap: 10px; /* Espacio entre los botones */
    flex: 1; /* Hace que los botones ocupen el espacio restante */
    justify-content: flex-end; /* Alinea los botones al final del header */
}

.pages ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pages ul button {
    background-color: rgb(45, 74, 102);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    display: grid;
    grid-row: 1 / 7;
    background-color: rgb(45, 74, 102);
    color: aliceblue;
    font-size: 20px;
}

h2 {
    display: flex;
    align-items: center;
    color: aliceblue;
    padding-bottom: 0;
}

h2 img {
    width: 20px;
    height: auto;
    margin-right: 8px;
    padding: 15px;
    filter: invert(1);
}

/* Lists */
ul, li {
    text-decoration: none;
    list-style: none;
}

.pagesList ul,
.settingsList ul {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.pagesList ul img,
.settingsList ul img {
    vertical-align: middle;
    margin-right: 8px;
    filter: invert(1);
}

.pagesList ul img {
    width: 25px;
    height: auto;
    padding: 10px;
}

.settingsList ul img {
    width: 20px;
    height: auto;
    padding: 10px;
}


/* Button */
button {
    margin: 10px;
}

/* Card Container */
.cardContainer {
    display: grid;
    background-color: rgba(81, 85, 85, 0.267);
    grid-column: 2 / 15;
    grid-row: 2 / 7;
}

/* Card */
.cardProjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    min-height: 100px;
    height: auto;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    background-color: aliceblue;
}