html, body {
    height: 100%;
}
.container{
    display: grid;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}

.header {
    grid-column: 2 / 7;
    background-color: antiquewhite;
}

.sidebar{
    background-color: rgb(23, 51, 78);
    grid-row: 1/7;
}

.cardContainer{
    background-color: rgb(161, 121, 121);
    grid-column: 2/7;
    grid-row: 2/ 7;
}

.card{

}